# Default ignored files
/shelf/
/workspace.xml
/.git
/.idea
# Datasource local storage ignored files
/../../../../../:\PyCharm\python projects\stack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
